@import 'tailwindcss';
@import '../lib/styles/fonts.css';
@import '../lib/styles/colors.css';

:root {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-lato: "lato", sans-serif;

  --font-default: var(--font-lato);
}

@theme {
  --font-jakarta: var(--font-jakarta);
  --font-lato: var(--font-lato);
}

html,
body {
  font-family: var(--font-default);
}
