@import 'tailwindcss';
@import '../lib/styles/fonts.css';

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-default: "lato", sans-serif;
}

html, body {
  font-family: var(--font-default);
}
