@import 'tailwindcss';
@import '../lib/styles/fonts.css';

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-sans: "lato", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
